<!DOCTYPE html>
<html>
<head>
  <title>Weather Info</title>
  <script type="text/javascript" src="js/client.js"></script>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<div class="main">
 
 <%- body %> 

</div>


</body>
</html>