<h2>Weather Information</h2>
<form id="weatherSearch">
  <label>Search by location</label><br>
  <input id="weatherInput" name="city" type="text" placeholder="Enter a town, city e.g. London"><br>
  <input type="submit" value="Search">
</form>

<div class="weatherDisplay">
  

</div>

<ul id="savedLocations">

</ul>


