.main {
  text-align: center;
  font-family: "Trebuchet MS";
}

input[type=text] {
  font-size: 1em;
  padding: 5px;
  margin: 5px;
  width: 300px;
}

input {
  font-size: 1em;
}


label {
  line-height: 2em;
}

a {
  display: inline-block;
  margin-right: 10px;
}

ul {
  padding: 0;
}